body {background-color: yellow}


#een {background-color: blue;}
#twee {background-color: red;}
#drie {background-color: pink;}
#vier {background-color: gold;}
#vijf {background-color: silver;}
#zes {background-color: green;}
#zeven {background-color: greenyellow;}
#acht {background-color: blueviolet;}

     
      
    


    
    
    
    